.tab-bar {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: -2px;
}

.tab-bar-tabs {
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 3px;
  width: 100%;
  // display: flex;
  overflow-x: scroll !important;
  // flex-direction: row;
  display: -webkit-inline-box;
}


.tab-bar-tabs::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.new-tab-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  .tab-label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tabtab-list-container {
  button {
    width: 100%;
  }
  li {
    width: 100%;
    height: 20px;
  }
}

.tabtab-list-container > ul > div {
  width: 100%;
  min-width: 100px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 20px;

}

.tabtab-list-container > ul:is(ul,ol)>:not(li) {
  // outline: 1px solid rgb(90, 78, 94);
  margin: 10px 5px 0 5px;
  background-color: aquamarine;
  height: 20px;
  // border-radius: 5px;
}

.tabtab-container > div > div > div {
  background-color: rgb(208, 80, 255) !important;
  overflow-x: scroll !important;
}

.tabtab-container > div > div > div::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.tabtab-container {
  ul {
    transform: translate3d(0px, 0px, 0px) !important;
  }
}

/* left and right button */
.ihwoWG {
  background-color: rgb(172, 255, 183) !important;
  width: 15px !important;
}
.iRXOCK {
  // background-color: white;
  // text-align: left;
  // position: relative;
  // white-space: nowrap;
  // overflow: hidden;
  // width: 100%;
  padding: 0 25px 0 25px !important;
}