.tab-bar {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: -2px;
  height: 37px;
  li {
    list-style: none;
    button {
      background: transparent;
    }
  }
}

.tab-bar-tabs {
  padding-top: 3px;
  padding-left: 8px;
  width: 100%;
  // display: flex;
  overflow-x: scroll !important;
  // flex-direction: row;
  display: -webkit-inline-box;
}


.tab-bar-tabs::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.new-tab-button {
  width: 40px !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  .tab-label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* left and right button */
.ihwoWG {
  background-color: rgb(172, 255, 183) !important;
  width: 15px !important;
}
.iRXOCK {
  // background-color: white;
  // text-align: left;
  // position: relative;
  // white-space: nowrap;
  // overflow: hidden;
  // width: 100%;
  padding: 0 25px 0 25px !important;
}

.new-tab-button-container {
  transform: translateY(5px);
  padding: 0 14px 0 14px;
  cursor: pointer;
  background-color: transparent;
  border-top: 2px dashed #000;
  border-left: 2px dashed #000;
  border-right: 2px dashed #000;
  border-radius: 6px 6px 0 0;
}

.tab-name-input {
  width: 100%;
  // background-color: transparent;
  // border: none;
}
